.post {
  padding-left: 120px;
    
    .entry-header {
      position: relative;
      margin-top: 80px;
      margin-right: 0;
      width: 750px;
      color: white;

      .attachment-large {
        border: none;
        width: 100%;
      }

      .entry-title {
        font-family: 'Novecento Sans';
        letter-spacing: 1.75px;
        font-weight: bold;
        text-transform: uppercase;
        position: absolute;
        top: 0px;
        line-height: 1.15;
        background-color: #248a83;
        padding: 15px 20px;
        max-width: 600px;
        font-size: 34px;
        
        a {
          color: white;

          &:hover {
            color: #f0e4d1;
          }
        }
      }

      .entry-meta {
        position: absolute;
        bottom: 7px;
        right: 0;
        padding: 5px 10px;
        background-color: #248a83;
        font-family: 'Novecento Sans';
        text-transform: uppercase;
      }
    }
    .entry-content {
      p {
        width: 750px;
        font-family: Merriweather;
        color: #404040;
        line-height: 1.75;
      }
    } 
    }
  
a.more-button {
  color: black;
  padding: 10px 20px;
  border: 1px solid black;
  font-family: 'Novecento Sans';
  text-transform: uppercase;
  margin-left: 80px;
  
  &:hover {
    background-color: #248a83;;
    border-color: #248a83;
    color: white;
  }
}
  
.journal-main {
  padding-bottom: 80px;
}



//**  SINGLE JOURNAL ENTRY  **//

.format-standard {
  .entry-content {
  color: red;
  }
}

.single-journal {
  
  .social-button {
  color: black;
  padding: 10px 20px;
  border: 1px solid #404040;
  font-family: 'Novecento Sans';
  text-transform: uppercase;

  &:hover {
    background-color: #248a83;;
    border-color: #248a83;
    color: white;
  }

  .fa-w-9, .fa-w-16{
    margin-right: 7px;
  }
  }
  
  p {
    color: #404040;
    font-family: 'Novecento Sans';
    font-size: 18px;
  }
  
  .journal-buttons {
    padding-left: 80px;
  }
}


//**  COMMENTS FORM **//

.cat-links {
  font-family: 'Novecento Sans';
}

.tags-links {
  font-family: 'Novecento Sans';
}

.comment-reply-title {
  font-family: 'Novecento Sans';
  font-size: 30px;
  text-transform: uppercase;
  margin-top: 60px;
}

.comment-respond {
  margin-left: 80px;

  p {
    color: #404040;
    font-family: 'Novecento Sans';
    text-transform: uppercase;
    font-size: 18px;
  }

  .submit {
    background: #248a83;
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    font-family: Novecento Sans;
    line-height: 1;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 14px;

    &:hover {
      background-color: darken(#248A83, 10%);
      box-shadow: none;
    }
  }
}

.type-post {
  margin-left: -40px;
}









