//**  front page  **//

// .front-header {

// }

.shop-logo {
  width: 10%;
}

.site {
  display: flex;
  flex-direction: column;
  // maybe remove this later
  min-height: 100vh;
}

.site-header {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-bottom: .5px solid #a1a1a1;
  position: fixed;
  background-color: rgba(250,250,250,0.9);
  z-index: 1;
}

.site-content {
  display: flex;
  width: 100%;
  flex-grow: 1;
}

.content-area {
  flex: 1 1 75%;
}

.widget-area {
  flex: 1 1 25%;
}

.site-footer {
  background: url('../../images/dark-wood.png');
  // margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0px 60px;
  // padding-right: 60px;
  height: 350px;
  align-items: center;
  color: white;
}
 
.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  justify-content: space-between;
}

.contact-info {
  padding: 35px;
  padding-bottom: 15px;
}

.business-hours {
  padding: 35px;
  padding-bottom: 65px;
}

.footer-image {
  width: 280px;
  height: 75px;
}

.copyright-container {
  height: 20px;
  padding-top: 17rem;
}

//**  products **//

.products-wrapper {
  display: flex;
  flex-direction: row;
  // flex-wrap: wrap;
}

.product-type-blocks {
  width: 20%;
}

.product-type-wrapper {
  display: flex;
  flex-direction: row;
}