

//**  FRONT PAGE  **//





//**  HEADER  **//

.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site-content {
  display: flex;
  width: 100%;
  flex-grow: 1;
}

.content-area {
  flex: 1 1 75%;
}

.widget-area {
  flex: 1 1 25%;
}

.site-header {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-bottom: .5px solid #a1a1a1;
  background-color: rgba(250,250,250,0.9);
  z-index: 1;
  position: fixed;
}

.main-navigation {
  display: flex;
  justify-content: flex-end;
}

.menu-item {
  a {
    margin: 0 10px;
  }
}

#menu-item-134 {
  margin-right: 50rem;
}

#menu-item-61 {
  margin-right: 3rem;
}

.front-header { 
    background: url(../../images/home-hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
  }

  .page-template-about {
    .about-hero-image {
      width: 100vh;
      height: 100vh;
    }
  }






//** SHOP STUFFS **//

.product-type-blocks {
  width: 250px;
  border: red; 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  line-height: 35px;
}

.product-type-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-content:center;
  align-items:center;
}

.product-info-container {
  margin-top: 100px;
}

.product-info-container{
  h2 {
    display: flex;
    justify-content:center;
  }
}

.shop-logo {
  width: 35%;
}




//**  INHABITENT JOURNAL  **//
.journal-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-content:center;
  align-items:center;
}

.journal-entry {
  margin: 0 13px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: black;
}

.entry-title {
  font-size: 27px;
}

.home-journal {
  margin-top: 100px;
}

.home-journal {
  h1 {
    display: flex;
    justify-content:center;
  }
}




//**  LATEST ADVENTURES  **//
.adventures {
  margin-top: 100px;
}

.adventures {
  h1 {
    display: flex;
    justify-content:center;
  }
}





// **  FOOTER  **//
.site-footer {
  background: url('../../images/dark-wood.png');
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0px 60px;
  height: 350px;
  align-items: center;
  color: white;
}
 
.site-info {
  display: flex;
  justify-content: flex-start;
  width: 1120px;
}

.contact-info {
  width: 25%;
}

.business-hours {
  width: 25%;
}

.footer-image {
  width: 50%;
  text-align: right;

  img {
    width: 55%;
    margin-top: 1rem;
  }
}

.copyright-container {
  width: 1120px;
  text-align: center;
}





//**  SHOP PAGE **//

.products-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  .shop-item {
    flex: 1 1 25%;
    padding: 10px 10px;
  }
}