.shop-header, .taxonomy-page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shop-header-title, .taxonomy-page-title {
  font-family: 'Novecento Sans';
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.taxonomy-description {
  font-family: Merriweather;
  font-size: 16px;
  color: #404040;
  letter-spacing: .75px;
}

.product-type-links {
  display: flex;
  justify-content: space-between;
  width: 350px;
  font-family: 'Novecento Sans';
  font-size: 20px;
  text-transform: uppercase;
}

.products-wrapper, .taxonomy-product-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  width: 1120px;
  margin: 10px 25px;
  border-top: 1px dashed #e1e1e1;
  padding-top: 60px;
  margin-left: auto;
  margin-right: auto;
}

.shop-item {
  padding: 0;
  width: 260px;
  height: 280px;
  border: 1px solid #e1e1e1;
  margin-bottom: 30px;

  img {
    height: 81%;
    border-bottom: 5px solid #e1e1e1;
  }
  
  // .entry-title {
  //   margin: 0;
  //   text-align: left;
  //   font-family: Merriweather;
  //   font-size: 16px;
  //   color: #404040;
  // }
}

.shop-item-text {
  display: flex;
  justify-content: space-between;
  font-family: Merriweather;
  font-size: 16px;
  color: #404040;
  margin-top: 5px;

  .shop-item-title {
      font-family: Merriweather;
      font-weight: 400;
      font-size: 16px;
      color: #404040;
      margin: 2px 0 0 10px;
      text-align: center;
      position: relative;
      top: -1px;
    } 
  }  

.shop-item-price {
  margin-right: 10px;
} 

.shop-item-ellipses {
  flex: 0.95;
  border-bottom: dotted 2px #404040;
  height: 20px;
  align-self: top;
}





// **  INDIVIDUAL PRODUCT ITEM  **//



.single-product .type-product {
  display: flex;
  width: 1120px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 100px;
  
  .single-item-img {
    height: 550px;
    width: 500px;
    margin-right: 12px;
    margin-top: 32px;
  }

  .single-product-info {
    display: flex;
    flex-direction: column;
    height: 403px;
    width: 520px;
    margin-left: 30px;
    margin-top: 28px;

    h1 {
      font-family: 'Novecento Sans';
      text-transform: uppercase;
      font-size: 38px;
      letter-spacing: 1px;
      color: #d99054;
      margin-top: 0;
      margin-bottom: 5px;;
    }

    .entry-price {
      font-family: 'Novecento Sans';
      font-size: 28px;
      color: #404040;
    }
  }

  p {
    font-family: Merriweather;
    font-size: 16px;
    color: #404040;
    line-height: 25px;
    letter-spacing: .55px;
    margin-top: 0;
  }

  
}




